/* Feuille de style de l'ensemble du projet */
body {
    /* Police et couleur d'écriture, couleur de fond, suppression ndes marges auto, cadrage */
    font-family: $roboto;
    color: #000000;
    font-size: 18px;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    font-weight: 500;
    max-width: 1400px;

  }
  .h2{
    font-size: 30px;
    font-weight: 500;
  }

 /* Supprimer les marges auto */
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
/* suppression des puces */
li {
  list-style-type: none;
}


.coeurrose, .coeurblanc {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}

.coeurrose {
  color: transparent;
  opacity: 0;
  transition: all 1500ms ease;
 
}

.coeurblanc:hover {
  color: transparent;
  opacity: 0;
  }

.coeurrose:hover {
      opacity: 1;
      background: linear-gradient(#9356DC, #FF79DA);
      /* nécessaire sinon affiche un carré dégradé -- compatiblité des navigateurs */
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

}

.coeurresto {
  font-size: 30px;  
}
.description h2{
  font-family: $shrikhand;
  text-align: center;
  font-size:30px; 

}
.bouton {
  color: $txt-blanc;
  background: linear-gradient($rose-secondaire, $violet-primaire);
  border: none;
  border-radius: 30px;
  height: 60px;
  width: 260px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 50px;
  cursor: pointer;
box-shadow: 1px 1px  5px $gris-sombre ;
transition: opacity 1s;
transition: box-shadow 1s;

}
.bouton:hover, .bouton:active, .bouton:focus {
  opacity : 0.8 ;
  box-shadow: 1px 1px  15px $gris-sombre ;
  outline: none !important;
}

.menu__focus i {
  color :#fff;
  
}
