.description{
    display: flex;
    flex-direction: column;
    align-items: center;
&__titre{
    display:flex;
    justify-content: space-around;
    align-items:center;
    border-radius: 40px 40px 0px 0px;
 
  
    background-color: $gris-clair;
    padding-top :40px;
    margin-top : -48px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;

}

    &__image img{

   width: 100%;
       top : 70px;
    }
    @media (min-width: 992px) {
        &__titre {
            width: 800px;
            margin: auto;
        }
        &__image img{

            width: 350px;
            
             }
        }     

}


.menu {
    background-color:$gris-clair;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    &__titre{
        box-shadow: 1px 1px  5px $gris-sombre;
        border-radius: 15px;
        background-color: #ffffff;
        margin:15px 0px;
        padding: 10px;
          /* Desktop*/
  
  }


    &__detail{
        display:flex;
        justify-content: space-between;
    padding-top: 5px;
    }

    & h2, & p{
        font-weight: 300;
     }

 


}
@media (min-width: 992px) {
    .menu {
        width: 800px;
        margin: auto;
    }
    }
.commander{
    display : flex;
flex-direction: column;
    align-items: center;
    padding-top: 40px;
    background-color: $gris-clair;
 
 }
 @media (min-width: 992px) {
    .commander {
        width: 800px;
        margin: auto;
        padding-left: 10px;
    padding-right: 10px;
    }
    }