/* Section : localisation , selection de la ville de recherche*/

.localisation {
  background-color: #888888;
  height: 50px;
  display: flex;
  border-top: 3px solid #888888;
  align-items: center;
  justify-content: center;
  color : $txt-noir;
 
  &__formaulaire i {
    width: 20px;
    height: 20px;
  }

  &__texte, &__texte::placeholder {
    background-color: #888888;
    font-size: 20px;
    border: none;
    opacity: 1;
    width: 140px;
    color : $txt-noir;
    font-family: "Roboto";

  }
}

/* Section : presentation , description du site*/
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;

  text-align: center;

  background-color: $gris-clair;

  &__titre {
    width: 300px;

    margin-bottom: -10px;
  }

  &__texte {
    width: 400px;
    font-weight: 100;
    font-size: 22px;
    margin-bottom: 40px;
    padding-top: 25px;
  }


  /* Tablette*/
  @media (min-width: 768px) {
    .presentation {
      &__titre,
      &__texte {
        width: auto;
      }
      &__titre {
        margin-bottom: 30px;
      }
    }
  }
  /* Desktop*/
  @media (min-width: 992px) {
    &__titre,
    &__texte {
      width: auto;
    }
  }
}

/* Section : Fonctionnement , menu de navigation*/
.fonctionnement {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  &__menu {
    display: flex;
    flex-direction: column;

  
    }
    &__menu__detail {
      display: flex;
        flex-direction: row;
      align-items: center;
    }
  
  &__menu__detailnumero {
    display: flex;
    width: 25px;
    height: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid $violet-primaire;
    background-color: $violet-primaire;
    border-radius: 100%;
     font-weight: 500;
    font-size: small;
    color: $txt-blanc;
    position: absolute;
  }
 &__menu__detailtexte {
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow: 1px 1px 1px 1px #f2f2f2;
    border-radius: 25px;
    background-color:$gris-clair;
    align-items: center;
    height: 80px;
    margin: 15px 0px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
width: 100%;
    font-size: 17px;
    gap: 23px;
  }
  &__menu__detailtexte:hover {
    background-color: #e4ccfa;
  }
  



  /* Tablette*/
  @media (min-width: 768px) {
    &__menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  /* Desktop*/
  @media (min-width: 992px) {
    &__detail {
      width: auto;
      margin: 15px;
    }
  }
}
/* Section : Restaurants , Descriptif des restaurants*/
.restaurants {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $gris-clair;
  &__liste {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

  }
  &__liste__card {
    margin-bottom: 30px;
    background-color: #ffffff;

    border-radius: 20px;
  }
  &__liste__cardimage {
    position: relative;
  }

&__liste__cardimage img {
  width: 100%;
  height: 204px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
&__liste__cardimage p {
 position: absolute;
  text-align: center;
  color: $txt-vert;
  background-color: $aqua-tertiaire;
  padding: 5px 10px;
  top :10px;
  right: 10px;
 
  
}
&__liste__carddetail {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
}
&__liste a {
  text-decoration: none;
  color: $txt-noir;
}

&__liste__carddetail p {
  font-weight: 300;
  font-size: 16px;
  margin-top: 10px;
}
.coeurrose {

  top : 5px;
  right:30px;
}
.coeurblanc {
 
    top : 5px;
    right:10px;
  }
  
.coeurrose{
  visibility:visible;

  :hover{
    visibility:visible;
  
  }
}
	

.coeurblanc{
  visibility:visible;

  :hover{
    visibility:hidden;
    
  }
}

  /* Tablette*/
  @media (min-width: 768px) {
    &__liste {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__liste__card {
      width: 48%;
    }
    &__liste__card img {
      height: 200px;
    }
  }
  /* Desktop*/
  @media (min-width: 992px) {
  }
}


