/* Section : localisation , selection de la ville de recherche*/

.localisation {
  background-color: rgb(219, 214, 214);
  height: 70px;
  display: flex;
  box-shadow: -1px -3px 1px 0px rgba(189, 187, 187, 0.75);
  align-items: center;
  justify-content: center;
  color: $txt-noir;
  margin-top: 10px;

  &__formaulaire i {
    width: 20px;
    height: 20px;
    font-size: 0.6cm;
  }

  &__texte,
  &__texte::placeholder {
    background-color: rgb(219, 214, 214);
    font-size: 20px;
    border: none;
    opacity: 1;
    width: 140px;
    color: $txt-noir;
    font-family: "Roboto";
    font-weight: 700;
  }
}

/* Section : presentation , description du site*/
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 30px;

  text-align: center;

  background-color: $gris-clair;

  &__titre {
    width: 350px;
    font-weight: 900;

    padding-top: 20px;
  }

  &__texte {
    width: 450px;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 50px;
    padding-top: 30px;
    color: #888888;
  }

  /* Tablette*/
  @media (min-width: 768px) {
    .presentation {
      &__titre,
      &__texte {
        width: auto;
      }
      &__titre {
        margin-bottom: 30px;
      }
    }
  }
  /* Desktop*/
  @media (min-width: 992px) {
    &__titre,
    &__texte {
      width: auto;
    }
  }
}

/* Section : Fonctionnement , menu de navigation*/
.fonctionnement {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 70px;
  &__menu {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  &__menu__detail {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__menu__detailnumero {
    display: flex;
    width: 30px;
    height: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid $violet-primaire;
    background-color: $violet-primaire;
    border-radius: 100%;
    font-weight: 500;
    font-size: small;
    color: $txt-blanc;
    position: absolute;
  }
  &__menu__detailtexte {
    display: flex;
    flex-direction: row;
    position: relative;

    border-radius: 25px;
    box-shadow: 1px 1px 15px $gris-clair;
    align-items: center;
    height: 90px;
    margin: 15px 0px 15px 15px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    font-size: 22px;
    gap: 23px;
  }
  .fonctionnement__icones i {
    color: #888888;
    font-size: 26px;
  }

  &__menu__detailtexte:hover {
    background-color: #e4ccfa;
    .fonctionnement__icones i {
      color: $violet-primaire;
    }
  }

  /* Tablette*/
  @media (min-width: 768px) {
    &__menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 3%;
    }
  }
  /* Desktop*/
  @media (min-width: 992px) {
    &__detail {
      width: auto;
      margin: 15px;
    }
  }
}
/* Section : Restaurants , Descriptif des restaurants*/
.restaurants {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $gris-clair;
  &__liste {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  &__liste__card {
    margin-bottom: 30px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px grey;
    border-radius: 20px;
  }
  &__liste__cardimage {
    position: relative;
  }

  &__liste__cardimage img {
    width: 100%;
    height: 204px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }
  &__liste__cardimage p {
    position: absolute;
    text-align: center;
    color: $txt-vert;
    background-color: $aqua-tertiaire;
    padding: 5px 10px;
    top: 10px;
    right: 10px;
  }
  &__liste__carddetail {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
  }
  &__liste a {
    text-decoration: none;
    color: $txt-noir;
  }

  &__liste__carddetail p {
    font-weight: 400;
    font-size: 22px;
    margin-top: 10px;
  }
  .coeurrose i {
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 0;
  }
  .coeurblanc i {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  .coeur:hover {
    .coeurblanc i {
      animation: coeurblancchangement 3s linear 1;
    }
    .coeurrose i {
      animation: coeurrosechangement 3s linear 1;
    }
  }

  @keyframes coeurblancchangement {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes coeurrosechangement {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Tablette*/
  @media (min-width: 768px) {
    &__liste {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__liste__card {
      width: 48%;
    }
    &__liste__card img {
      height: 200px;
    }
  }
  /* Desktop*/
  @media (min-width: 992px) {
  }
}
