//Polices

$shrikhand: 'Shrikhand', sans-serif;
$roboto:'Roboto', sans-serif;

//Couleurs principales
$violet-primaire: #9356DC;
$rose-secondaire: #FF79DA;
$aqua-tertiaire: #99E2D0;

//Couleur secondaires
$vert-clair: #99e2d0;
$gris-sombre: #353535;
$gris-clair: #e2e2e2;

//Textes
$txt-noir: #000000;
$txt-blanc: #ffffff;
$txt-vert: #008766;
